@page "/contratacion"
@page "/contratacion/{param}"
@using BlazorServer.Business.Interfaces.Contratacion
@using BlazorServer.Presentation.Shared.Contratacion
@inject IEncryDecrypt _EncryDecrypt
@inject IConveniosSAM _ConveniosSAMService
@inject IUser _User
@inject IJSRuntime JSRuntime


@if (isAuthorized == null)
{

    <div>Cargando...</div>
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
}
else if (isAuthorized == true)
{

    <ConvenioAll @ref="convenioAll" urlParametersDTO="@urlParametersDTO" SetContinueConfig="ConfigConvenio" SetContinue="EditarFormularioCliente"></ConvenioAll>

}
else
{
    <MudAlert Severity="Severity.Error">No autorizado</MudAlert>
}

