@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<HeadContent>
    <title> SAMO | Sistema Atencion Medica operacional </title>
    <link rel="icon" href="https://static.vecteezy.com/system/resources/previews/019/796/647/non_2x/medical-logo-medical-center-logo-heart-logo-health-logo-doctor-logo-medicine-logo-medical-icon-free-vector.jpg" type="image/x-icon" />
</HeadContent>

<div class="page" style="min-height: 100vh; display: flex; flex-direction: column;">
    <MudLayout class="mud-layout">

        <MudMainContent style="flex: 1;">
            @Body

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

        </MudMainContent>

    </MudLayout>
</div>






