@using MudBlazor
@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<HeadContent>
    <title> SAMO | Sistema Atencion Medica operacional </title>
    <link rel="icon" href="~/Plantilla/assets/images/logo-sm.png" type="image/x-icon" />
</HeadContent>



<div class="page-content">
    <div class="container-fluid">
        <!-- start page title -->
        @Body

    </div>
</div>







